.gitignore
.github/**
.vscode/**
.vscode-test/**
defoma/**
dev/**
docs/**
.dev/**
node_modules/**
public/**
site/**
scripts/**
src/**
test/**
models/**
.omc/**
debug.log
dist/browser/**
dist/**/*.map
tsconfig.base.json
pnpm-workspace.yaml
pnpm-lock.yaml
*.tsbuildinfo
